{% extends "layout/default.html" %}
{% block container %}
    <div class="well">
        <span class="title">新增、编辑页面模块。</span>
        <select class="form-control inline_select" onchange="changePage()" id="page">
            ~for page,page_cn in g.pages
            <option value="{{ page }}"
            ~if g.current_page==page
            selected
            ~endif
            >{{ page_cn }}</option>
            ~endfor
        </select>
        <a href="/page/module/0?page={{ g.current_page }}" class="btn btn-default pull-right btn-nav">新增</a>
        <a href="/promotion/sort" class="btn btn-default pull-right btn-nav">排序</a>
    </div>
    <table class="table table-striped">
        <thead>
            <th>显示</th>
            <th>id</th>
            <th>标题</th>
            <th>描述</th>
            <th>类型</th>
            <th>状态</th>
            <th colspan="4">操作</th>
        </thead>
        <tbody>
        ~for pm in page_modules
            <tr>
                <td><img src="http://test.rs.vogor.cn/image/2017/02/19/30a52bd243d618b9.jpg" width="414px;"/> </td>
                <td>{{ pm.id }}</td>
                <td>
                    ~if pm.text
                    {{ pm.text }}
                    ~else
                    -
                    ~endif
                </td>
                <td>
                    ~if pm.des
                    {{ pm.des }}
                    ~else
                    -
                    ~endif
                </td>
                <td>{{ pm.category }}</td>
                <td>{{ pm.status }}</td>
                <td><a href="/page/module/{{ pm.id }}">编辑</a></td>
                <td><a href="/page/module/up?id={{ pm.id }}&page={{ g.current_page }}">上升</a></td>
                <td><a href="/page/module/down?id={{ pm.id }}&page={{ g.current_page }}">下降</a></td>
                <td><a href="/page/module/del/{{ pm.id }}?page={{ g.current_page }}">删除</a></td>
            </tr>
        ~endfor
        </tbody>
    </table>
    <script type="text/javascript">
        function changePage() {
            var page = $('#page').val();
            var url = LuhuAdmin.replaceOrAddUrlParam(location.href, "page", page);
            LuhuAdmin.loadUrl(url);
        }
    </script>
{% endblock %}