{% extends "layout/default.html" %}
{% from "macros.html" import render_field,render_hidden_field %}
{% block container %}
	<h2 class="page-header">
		{{act}}供应商信息
	</h2>
	<div class="span9">
		<form class="doc-form form-horizontal" method="post">
			{{ form.csrf_token }}
			{{ render_hidden_field(form.id) }}
			{{ render_field(form.name, dict(required=True)) }}
			{{ render_field(form.description) }}
			{{ render_field(form.status) }}
			<div class="form-group">
				<div class="col-lg-10 col-lg-offset-2">
					<button type="submit" class="btn btn-primary">保存</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}