~extends 'layout/default.html'

{% block container %}
	~ from "macros.html" import render_field,render_textarea,render_hidden_field, render_datetime_field
	<div class="well">
		<span class="title">修改登录密码</span>
	</div>
	<form class="form-horizontal" id="task_form" method="POST">
		{{ form.csrf_token }}
		{{ render_field(form.old_password) }}
		{{ render_field(form.new_password) }}
		{{ render_field(form.repeat_password) }}
		<div class="form-group">
			<div class="col-lg-10 col-lg-offset-2">
				<button type="submit" class="btn btn-primary">保存</button>
			</div>
		</div>
	</form>
{% endblock %}
